:root {
  --bgColor: #fffcf8;
  --red: #fe7867;
  --yellow: #fad400;
  --blueText: #19536c;
  --cyanText: #24554a;
  --cyanFooter: #458c7e;
  --bgFooter: #90d4c6;
  --textDark: #24303e;
  --gray900: #23303e;
  --gray600: #5a636c;
  --gray300: #808397;
  --gray100: #a7aaad;
  --white: #ffffff;

  --ff-primary: "Fraunces", "serif";
  --ff-secondary: "Barlow", "sans-serif";
}
