@use "../mixins" as c;

.gallery-section {
  margin-bottom: 4rem;

  @include c.respond(tab-land) {
    margin-bottom: 10rem;
  }

  .gallery {
    display: grid;
    overflow: hidden;

    @include c.respond(tab-port) {
      grid-template-columns: 1fr 1fr;
    }

    @include c.respond(tab-land) {
      align-items: center;
      justify-content: end;

      .text-1 {
        padding-left: 3.4375rem;
      }

      .text-2 {
        padding-right: 3.4375rem;
      }
    }

    @include c.respond(desktop) {
      max-width: 90rem;
      margin-inline: auto;
    }

    &__images {
      img {
        width: 100%;
        height: 100%;

        max-height: 37.5rem;
        -o-object-fit: cover;
        object-fit: cover;
      }

      &-1 {
        @include c.respond(tab-port) {
          order: 2;
        }
      }
    }

    &__description {
      padding: 4rem 1.5rem;

      display: grid;
      gap: 1.5rem;

      max-width: 31.25rem;
      margin-inline: auto;

      p {
        line-height: 1.67;
      }

      @include c.respond(tab-land) {
        padding-inline: 0;
        text-align: left;
        gap: 2rem;
      }

      &__link {
        color: var(--textDark);
        font-weight: 900;
        padding-inline: 0.5rem;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;

        position: relative;
        margin-inline: auto;

        @include c.respond(tab-land) {
          margin-inline: 0;
          margin-top: 0.5rem;
        }

        @media (hover: hover) {
          &:hover::after {
            opacity: 1;
          }
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: -1;

          width: 100%;
          height: 10px;
          mix-blend-mode: normal;

          opacity: 0.25;
          border-radius: 28px;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
        }
      }

      .link-1::after {
        background: var(--yellow);
      }

      .link-2::after {
        background: var(--red);
      }
    }

    &__box {
      display: grid;
      align-items: end;
      position: relative;
      min-height: 600px;
      overflow: hidden;

      &__images {
        position: absolute;
        z-index: -1;
        width: 100%;

        img {
          min-height: 600px;
          width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }

      h3 {
        margin-bottom: 1.625rem;
      }

      &__description {
        padding: 0 1.5rem 3.75rem 1.5rem;
        max-width: 21.25rem;
        margin-inline: auto;

        @include c.respond(tab-land) {
          padding-inline: 0;
        }
      }
    }

    .cherry-box {
      h3,
      p {
        color: var(--cyanText);
      }
    }

    .orange-box {
      h3,
      p {
        color: var(--blueText);
      }
    }
  }
}

.testimonial-section {
  margin-bottom: 5.375rem;

  max-width: 1110px;
  margin-inline: auto;

  @include c.respond(tab-land) {
    margin-bottom: 10rem;
  }

  h4 {
    margin-bottom: 4rem;

    @include c.respond(tab-land) {
      margin-bottom: 5rem;
    }
  }

  .testimonial {
    padding-inline: 1.5rem;
    margin-inline: auto;

    display: grid;
    gap: 4rem;

    @include c.respond(tab-port) {
      grid-template-columns: repeat(3, minmax(150px, 1fr));
      gap: 1.875rem;
    }

    @include c.respond(tab-land) {
      padding-inline: 0;
    }

    &__box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      gap: 2rem;
      max-width: 25rem;
      margin-inline: auto;

      @include c.respond(tab-port) {
        gap: 3.625rem;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        justify-content: space-between;
      }

      p {
        line-height: 1.78;
      }
    }

    &__img {
      border-radius: 50%;
      height: 4.5rem;
    }

    &__author {
      display: grid;
      gap: 0.5rem;

      @include c.respond(tab-port) {
        margin-top: 0.6875rem;
      }

      &__name {
        color: var(--textDark);
        font-family: var(--ff-primary);
        font-weight: 900;
      }

      &__title {
        color: var(--gray100);
      }
    }
  }
}
